[Unit]
Description=VPN Unlimited daemon
Requires=network.target

[Service]
Type=simple
PIDFile=/var/run/vpn_unlimited_service
ExecStart=/usr/bin/vpn-unlimited-daemon

[Install]
WantedBy=multi-user.target
